* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Papyrus" sans-serif;
    overflow: hidden;
}
.HomeProdPage{
    width: 100%;
    height: 100vh;

}
.wrapperProdPage {
    display: flex;
    align-items: center;
    justify-content: space-between;
}